extends layout

block content
  p A login email has been sent to 
    b #{email}
    | . Please check your email.

  p.
    Sorry for the trouble. But this way, you won't have to remember any
    password and you can always log in again by repeating this process.